.work{
    background-color: #f8fcfe;
}

.work h2{
    font-size: 36px;
    font-family: 'Regular';
    color: #4e4e4e;
    text-align: center;
    padding-top: 5.7%;
    margin-bottom: 9.64%;
}

.work nav{
    display: flex;
    justify-content: center;
}

.work table{
    width: 610px;
    height: 55px;
    border: solid 2px #ebebeb;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 6.14%;
    
}

.work td {
    border: solid 2px #ebebeb;
    background-color: white;
}

.work td a{
    font-family: 'Regular';
    font-size: 14px;
    color: #4e4e4e;
}

.work td a:hover{
    color: #18cfab;
}

.work td:nth-child(1){
    width: 75px;
}

.example img{
    width: 285px;
}

.example{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 6.14%;
}

.btn{
    text-align: center;
    margin-bottom: 8.77%;
}

.btn a{
    display:inline-flex;
    width: 165px;
    height: 60px;
    /* border-top: 5px solid #fff; */
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'ExtraBold';
    justify-content: center;
    align-items: center;
    background-color: #18cfab;
    font-size: 13px;
}

.work hr{
    color: #ebebeb;
    
}